@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

root:{
    --bgcontent: rgba(234, 158, 171, 0.26);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 
}

li, a, h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    
}


header { 
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px 10%;
}


.title { 
    display:flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 10%;
    font-size: 25px;
}
.nav-links {
    list-style: none;
    
 }

 .nav-links li {
    display: inline-block;
    padding: 0px 13px;
    margin-bottom: 10px;

 }
 .nav-links li a {
    transition: all 0.3s ease 0s;
 }

 .nav-links li a:hover {
    color: pink;

 }

.subtitle {
    background-image: url("bgimg.jpg");
    width: 100%;
    padding: 20px;
    color: white;

}

/*COMO LE HAGO PARA QE EL ABOUT ME Y EL CONTENT NO SE ENCIMEN ENTRE SÍ 
CUNDO LO HAGO PEQUEÑO*/

.aboutme {
    display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     font-size: 20px;
    margin-top: 35px;
    text-align: center;
    justify-content: center;
    margin-left: 20%;
    position: absolute;
}

.amcontent {
    display: flex;
    width: 70%;
    margin-left: 35%;
    margin-top: 10px;
    border-radius:20px;
    padding: 10px;
    background: linear-gradient(45deg,  rgba(234, 158, 171, 0.26), rgb(230, 70, 94));
    max-width: 63%;
}

.container {
    display: flex;
    width: 70%;
    margin-left: 35%;
    margin-top: 10px;
    border-radius:20px;
    padding: 10px;
    background: linear-gradient(45deg,  rgba(234, 158, 171, 0.26), rgb(230, 70, 94));
    max-width: 63%;
}


.box {
    width: 70px;
    height: 100%;
    background-color: lightblue;
}
.box2 {
    font-size: smaller;
    width: 100%;
    height: 100px;
    background-image: url("bgimg.jpg");
    
}
.box3 {
    font-style: smaller;
    flex-direction: row;
    width: 70%px;
    height: 100px;
    background-color: white;
    margin-left: 10px;
}

.box4 {
    font-size: smaller;
    width: 100%;
    height: 100px;
    background-image: url("bgimg.jpg");
    margin-left: 10%;
}


.mywork {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
   margin-top: 40px;
   text-align: center;
   justify-content: center;
   margin-left: 20%;
   position: absolute;
}

.mwcontent {
    display: flex;
    width: 70%;
    margin-left: 35%;
    margin-top: 10px;
    border-radius:20px;
    padding: 10px;
    background: linear-gradient(45deg,  rgba(234, 158, 171, 0.26), rgb(230, 70, 94));
    max-width: 63%;
}

.contactme {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
   margin-top: 30px;
   text-align: center;
   justify-content: center;
   margin-left: 20%;
   position: absolute;
   
}

.cmcontent {
    display: flex;
    width: 70%;
    margin-left: 35%;
    margin-top: 10px;
    border-radius:20px;
    padding: 10px;
    max-width: 63%;
    background: linear-gradient(45deg,  rgba(234, 158, 171, 0.26), rgb(230, 70, 94));
}


.amcontent:hover,
.container:hover, .cmcontent:hover {
  box-shadow: inset 0px 0px 8px rgb(230, 70, 94);
}

.amcontent, .cmcontent,.container {  
  box-shadow: 5px 5px 5px #aaaaaa;
  
}

@media screen and (max-width: px) {
  body{
    flex-direction: column;
  }
}




/*LO QUE USÉ EN EL MINI PROJECT SERÁ UTILIZADO EN LA SECTION DE "MY WORK"
QUE HAGA. Esto que puse abajo es lo que usé en el mini project y lo usaré como base*/

/*
:root {
    --main-color: rgb(222, 104, 124); 
    --bg-main-color:  
    }
    body {
        
        
    }
    
    .card-column {
        display: flex;
        flex-wrap: wrap;
    }
    
    .main-color {
        color: var(--main-color); 
    }
    
    .card {
        border: dashed white 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .card-header {
        position: absolute;
        top: -22%;
        background-color: var(--bg-main-color);
        width: 90%;
        border:solid white 3px ;
        padding: 3px;
        border-radius: 7px;
    }
    
    .card-body {
        margin-top: 10px;
        font-weight: 100;
        width: 90%;
    
    }
    .code-block {
        color: white;
        background: linear-gradient(rgb(58, 28, 33), var(--main-color));
        width: 90%;
        border-radius: 7px;
        text-justify: initial;
        padding: 3px;
        
    }
*/
    /*YA ENTENDI COMO SE DIVIERON LAS CLASES EN EL SCRIPT;
    .CARD ES EN TOTAL TODA LA TARJETITA; QUE ES PUNTEADA, Y ES EN COLUMNA;
    CARD HEADER ES LITERAL EL TITOLO QUE DICE FLEX BOX EN ESTE CASO 
    Y SE LE PONE -22 PORQUE EN ESTE CASO DEBE DE ESTAR POR FUERAA DE  CARD ETC ETC
  */
  