@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(205, 180, 228);
}

li, a, h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    
    
}


header { 
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px 10%;
}


.title { 
    display:flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 10%;
    font-size: 25px;
}
.nav-links {
    list-style: none;
    
 }

 .nav-links li {
    display: inline-block;
    padding: 0px 13px;

 }
 .nav-links li a {
    transition: all 0.3s ease 0s;
 }

 .nav-links li a:hover {
    color: rgb(227, 226, 227);

 }


  

/*LO QUE USÉ EN EL MINI PROJECT SERÁ UTILIZADO EN LA SECTION DE "MY WORK"
QUE HAGA. Esto que puse abajo es lo que usé en el mini project y lo usaré como base*/

/*
:root {
    --main-color: rgb(222, 104, 124); 
    --bg-main-color:  
    }
    body {
        
        
    }
    
    .card-column {
        display: flex;
        flex-wrap: wrap;
    }
    
    .main-color {
        color: var(--main-color); 
    }
    
    .card {
        border: dashed white 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .card-header {
        position: absolute;
        top: -22%;
        background-color: var(--bg-main-color);
        width: 90%;
        border:solid white 3px ;
        padding: 3px;
        border-radius: 7px;
    }
    
    .card-body {
        margin-top: 10px;
        font-weight: 100;
        width: 90%;
    
    }
    .code-block {
        color: white;
        background: linear-gradient(rgb(58, 28, 33), var(--main-color));
        width: 90%;
        border-radius: 7px;
        text-justify: initial;
        padding: 3px;
        
    }
*/
    /*YA ENTENDI COMO SE DIVIERON LAS CLASES EN EL SCRIPT;
    .CARD ES EN TOTAL TODA LA TARJETITA; QUE ES PUNTEADA, Y ES EN COLUMNA;
    CARD HEADER ES LITERAL EL TITOLO QUE DICE FLEX BOX EN ESTE CASO 
    Y SE LE PONE -22 PORQUE EN ESTE CASO DEBE DE ESTAR POR FUERAA DE  CARD ETC ETC
  */
  